NEXT_PUBLIC_SITE_URL=https://theperfectfourth.com
NEXT_PUBLIC_LEMON_STORE_URL=https://libertyandspark.lemonsqueezy.com
NEXT_PUBLIC_LEMON_GUIDE_CHECKOUT_URL=https://libertyandspark.lemonsqueezy.com/checkout/buy/f073475e-638b-4e7e-b010-9798254b7292
NEXT_PUBLIC_LEMON_BUNDLE_CHECKOUT_URL=https://libertyandspark.lemonsqueezy.com/checkout/buy/4c43aec9-663d-4544-b0be-688f5300fcd5
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=998041629709950
NEXT_PUBLIC_CONTACT_EMAIL=hello@theperfectfourth.com
